
// Fonts
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,600");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");

/* @import url('https://fonts.googleapis.com/css?family=Roboto:400,900'); */

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.panel-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&-action {	    	
	    flex: 2;    
	    padding-right: 10px;
	    /* margin-bottom: 10px; */
	}
	&-filter {
		flex: 6;
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    /* margin-bottom: 10px; */
	    &-column {
	        flex: 4;
	        padding-right: 10px;
	    }
	    &-operator {
	        flex: 4;
	        padding-right: 10px;
	    }
	    &-input {
	        flex: 6;
	        padding-right: 10px;
	    }
	    &-btn {
	        flex: 1;
	    }
	}

  &-extra {
    padding-left: 10px;
  }

}

.content.panel {
  background-color: transparent;
}

.panel select.form-control {
  height: 36px !important;
}

.panel-footer {
	padding: 0 15px !important;
}

.pagination-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination-input {
    width: 45px !important;
}

.cursor-pointer {
	cursor: pointer;
	color: #428bca;
}


/* .select2-container--default 
.select2-selection--single {
    height: 36px !important;
    line-height: 36px !important;
    border: 1px solid #ccd0d2 !important;
}

.select2-container--default 
.select2-selection--single 
.select2-selection__rendered {
    line-height: 36px !important;
}

.select2-container 
.select2-selection--single 
.select2-selection__rendered {
    height: 36px !important;
}

.select2-container--default 
.select2-selection--single 
.select2-selection__arrow {
    height: 34px !important;
} */

.dropdown-toggle::after {
  content: "";
}

/* Private Messages */
.PrivateMessage {
	.nav-pills.PrivateMessage-Sidebar {
		a.active {
			background-color: #2c8fbb;
			color: #fff;
		}
	}

	.unread {
		font-weight: bold;
	}
}

.pm-message-notification {
    &.open {
      background-color: #ddd;
    }

    .context {
      color: #999999;
      width: 300px;
      padding: 5px 10px 9px 10px;
      border-bottom: 1px solid #ddd;
      overflow: hidden;
    }
    
    li.notification {
      border-bottom: 1px solid #ddd;
      &:last-child {
        border-bottom: none;
      }
      padding: 5px 5px 5px 0px;
      span {
        display: block;
        &.from {
          color: #444444;
          .time {
            font-size: 0.7em;
            float: right;
          }
        }
        &.subject {
          font-size: 0.8em;
        }
      }
    }
    .footer {
      text-align: center;
    }
  }

  /* .form label {
    font-size: 10px;
    text-transform: uppercase;
  }

  .panel select.form-control {
    height: 26px !important;
  }

  .form .form-control {
    height: 26px;
    padding: 3px 6px;
    font-size: 12px;
  }
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
  } */

